@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    @apply font-sans text-core-950 antialiased;
    background: #F6F6F6;
  }
  :focus-visible {
    outline: 2px solid theme('colors.brand.500');
    outline-offset: 2px;
  }
}
